[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
pyserial = "*"
paho-mqtt = "*"

[dev-packages]
pytest-cov = "*"
pytest = "==7.1.1"
mock = "*"

[requires]
python_version = "3.8"
